@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/JavaScript/index.js"></script>
<link rel="stylesheet" type="text/css" href="~/Style/MissionFAQ.css">

<body id="landingContainer">
    <div class="container">

        <div class="row">
            <div class="col-sm-5"><img src="~/Images/@ViewBag.image" /> </div>
            <div class="col-sm-7">
                <ul>
                    <li><h4>@ViewBag.mission</h4></li>
                    <li><h4>@ViewBag.presName</h4></li>
                    <li><h4>@ViewBag.missionAddress</h4></li>
                    <li><h4>@ViewBag.language</h4></li>
                    <li><h4>@ViewBag.climate</h4></li>
                    <li><h4>@ViewBag.domReligion</h4></li>
                </ul>
            </div>
        </div><!--row div-->



    </div>








    <h3>Here are Some Frequently Asked Questions about Your Mission</h3>

    <h4>Q: What is the population of my mission area?</h4>
    <button id="reply">Reply</button> <input class="replyBox" type="text" placeholder="Enter Your Reply Here"><br>


    <h4>Q: How can I prepare to learn the language? </h4>
    <button id="reply2">Reply</button> <input class="replyBox2" type="text" placeholder="Enter Your Reply Here"><br>


    <h4>Q: What is the food like?</h4>
    <button id="reply3">Reply</button> <input class="replyBox3" type="text" placeholder="Enter Your Reply Here"><br>


    <br />
    <form class="form-inline" role="form">

        <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Your Question">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</body>