@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<h2>Here are Some Frequently Asked Questions about Your Mission</h2>

<img src="~/Images/@ViewBag.image" />


<ul>
    <li>@ViewBag.mission</li>
    <li> @ViewBag.presName</li>
    <li> @ViewBag.missionAddress</li>
    <li>@ViewBag.language</li>
    <li>@ViewBag.climate</li>
    <li> @ViewBag.domReligion</li>
  
</ul>

<p>flag or symbol for the mission</p>
